body {
  background-color: #204063;
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  background-color: #ffffff;
  margin-bottom: 0px !important;
  border-top: 1px solid #cccccc;
}

#mapDiv {
    height: 95vh;
    width:100%;
    margin-top: 30px;
}

.full-width {
  width: 100%;
}

.intro-quote{
  margin-top: 20px;
}

.well{
  margin-top: 20px;
}

.thumbnail{
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.caption{
  border-top: 1px solid #f2f2f2;
}

.space{
  margin-bottom: 50px;
}

.line{
  background-color: #cccccc;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.details {
  margin-top: 0px !important;
  color: #666666 !important;
}

.green {
  color: #37b28d;
}

.white {
  color: #ffffff;
}

.gray {
  color: #666666;
}

.purple{
  color: #c395d0 !important;
}

.light {
  font-weight: 100;
}
.ftr{
  margin-top: 40px;
  background-color: #404040;
  padding-top: 20px;
  padding-bottom: 20px;
}
